[MASTER]
disable=missing-docstring, too-many-lines, invalid-name, attribute-defined-outside-init, line-too-long, missing-final-newline, unused-import, too-many-instance-attributes, no-name-in-module, wildcard-import, import-error, no-member, too-many-arguments, undefined-variable, too-many-locals, too-many-branches, redefined-outer-name